[Desktop Entry]
Name=Eclipse Installer
Exec=/home/pgaddam/Downloads/eclipse/eclipse-installer/eclipse-inst %u
NoDisplay=true
Type=Application
MimeType=x-scheme-handler/eclipse+installer;